<!DOCTYPE html>
<html>
<head>
<title>keats</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
<h1>Welcome to keats</h1>

<p><strong>keats</strong> accepts images and guesses their colourmap. Use the <code>/api</code> endpoint.</p>
<p>For example, you can send an image of some seismic, and it will guess the colourmap and thus recover the data from the image.</p>
<p><img class="img-responsive" src="http://www.signatureseismic.com/user_files/images/fault.jpg" width="600px" /></p>
<p>Here's an example, using this image:</p>
<a href="http://keats.geosci.ai/api?url=http://www.signatureseismic.com/user_files/images/fault.jpg&n_colours=100"><pre>http://keats.geosci.ai/api?url=http://www.signatureseismic.com/user_files/images/fault.jpg</pre></a>

<h2>Parameters</h2>
<ul>
<li><code>url</code> — the URL of the image to analyse.</li>
<li><code>region</code> — the region to analyse in pixels, like :
 <ul>
 <li><code>100,100,900,900</code> — use this region of pixels.</li>
 <li><code>auto</code> — guess the data area.</li>
 <li><code>off</code> — do not guess the data area or crop.</li>
 </ul>
</li>
<li><code>recover</code> — whether to recover the data or not.</li>
<li><code>n_colours</code> — how many colours to cluster (default <code>128</code>)</li>
<li><code>sampling</code> — how to subsample the image for colour determination:
 <ul>
 <li><code>random</code> — random pixels (default).</li>
 <li><code>columns</code>  —  random columns (best for seismic).</li>
 <li><code>random</code>  — random rows.</li>
</ul>
<li><code>cool_point</code> — default <code>[0, 0, 0]</code>.</li>
<li><code>return_cmap</code> — whether to get the discovered colourmap back.</li>
<li><code>format</code> — what kind of data to return:</li>
 <ul>
 <li><code>png</code> — a greyscale PNG image.</li>
 <li><code>npy</code> — a binary NumPy array.</li>
 <li><code>segy</code> — a SEG-Y file.</li>
 <li><code>txt</code> — a text NumPy array.</li>
 </ul>
</ul>
<h2>Example</h2>
<p>This GET request is the same as the one shown in the link above.</p>
<pre>import requests

url = "http://keats.geosci.ai/api"
target = "http://www.signatureseismic.com/user_files/images/fault.jpg"
params = {'n_colours': 100,
          'url': target
          }
headers={"Accept": "application/json"}

response = requests.get(url, headers=headers, params=params)
response.json()</pre>
<h2>TODO</h2>
<ul>
<li>Send result to ageobot</li>
<li>Human interface</li>
</ul>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
</body>
</html>
